* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensures padding and border are included in element's total width/height */
}

body {
  background-color: #f3e5d7;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "outfit";
}

img {
  width: 656px;
  height: 300px;
  border-radius: 12px;
  margin: 40px 40px 40px 40px;
}

p {
  color: #854632;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: auto;
  width: 736px;
  background-color: white;
  padding: 20px;
  border-radius: 24px;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 40px;
}

h2 {
  font-family: "Young Serif", serif;
  font-size: 28px;
  font-weight: 400;
  color: #854632;
}

.instructions_h1 h2 {
  padding-left: 30px;
  padding-bottom: 24px;
}

.instructions_container {
  padding-left: 40px;
  margin-bottom: 32px;
}

.instructions_container p {
  margin-left: 18px;
  color: #854632;
}

.ingredients_container {
  margin-top: 32px;
  margin-bottom: 32px;
  padding-left: 40px;
}

.ingredients_container h2 {
  padding-bottom: 24px;
}

.ingredients_container ul li {
  margin-bottom: 8px;
  font-size: 14px;
  color: #854632;
}

.ingredients_container ul li p {
  margin-left: 18px;
  font-weight: 200;
  color: #854632;
}

.instructions_container .bold {
  font-weight: 700;
  display: inline;
  color: #854632;
}

.instructions_container ol li::marker {
  font-weight: 700; /* Makes the numbers bold */
  color: #854632; /* Optional: Change the color of the numbers */
}

.instructions_container ol li {
  list-style-position: outside;
  padding-left: 20px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #854632;
  font-weight: 400;
  font-family: "outfit", sans-serif;
}

.instructions_container ol soaked {
  margin-left: 18px;
  font-weight: 700;
}

.instructions_container p {
  padding-left: 19px;
}
